/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.5rem;
}
header .login-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

header .login-logo img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

header .login-logo img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* Carousel Wrapper */
.chambre-wrapper {
    width: 100%;
    max-width: 1200px; /* Augmentation de la largeur maximale */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0; /* Ajout d'espace autour */
}

/* Chambre List */
.chambre-list {
    display: flex;
    transition: transform 0.6s ease-in-out; /* Transition plus fluide */
    gap: 30px; /* Plus d'espace entre les éléments */
}

.chambre-item {
    flex: 0 0 400px; /* Augmentation de la largeur des cartes */
    text-align: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.chambre-item:hover {
    transform: scale(1.1); /* Accentuation de l'effet au survol */
}

.chambre-item img {
    width: 100%;
    height: 300px; /* Agrandissement de la hauteur des images */
    object-fit: cover;
}

.chambre-item h2 {
    padding: 15px;
    font-size: 1.5rem; /* Augmentation de la taille du texte */
    background: rgba(255, 255, 255, 0.9);
}

/* Navigation Arrows */
.arrow {
    background: none;
    border: none;
    font-size: 3rem; /* Agrandissement des flèches */
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: #333;
    padding: 0 15px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.arrow:hover {
    color: #666;
    transform: scale(1.2); /* Effet de zoom au survol */
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

/* Conteneur pour le bouton */
.reserve-container {
    text-align: center;
    margin: 20px 0; /* Espacement avec la section des chambres */
    z-index: 1;
}

/* Style du bouton */
.reserve-btn {
    background-color:  #c39e81;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.reserve-btn:hover {
    background-color: #a37a5b;
    transform: scale(1.1); /* Zoom léger au survol */
}
